<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Security Example</title>
</head>
<body>
<h1> <span th:text="${user.name + ' ' + user.secondName}"></span> welcome spring boot security page!</h1>

<table border="1">
    <caption>Твои данные</caption>
    <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Возраст</th>
        <th>Цвет глаз</th>
    </tr>

    <tr>
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.secondName}"></td>
        <td th:text="${user.age}"></td>
        <td th:text="${user.eyeColor}"></td>
    </tr>
</table>

<form th:action="@{/logout}" method="POST">
    <input type="submit" value="Logout" />
</form>
</body>
</html>